$bgColor: rgba(238, 238, 238, 255);
$bgColorBorder: rgb(70, 130, 180);
$bgColorHover: rgba(248, 248, 248, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif, monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 10;
  width: 100vw;
  .navDiv {
    display: flex;
    justify-content: space-between;
    background-color: $bgColor;
    height: 40px;
    width: 100%;
    padding: 8px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    .leftNav {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        margin: 0px 25px;
        @media (max-width: 375px) {
          font-size: 0.8rem;
        }
      }
      a:hover {
        background-color: $bgColorHover;
      }
    }
    .rightNav {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        margin: 0px 25px;
        @media (max-width: 375px) {
          font-size: 0.8rem;
          margin: 0rem 0.6rem;
        }
      }
      a:hover {
        background-color: $bgColorHover;
      }
    }
  }
}

#Hero-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 190px;
  padding-bottom: 190px;

  .hero-Container {
    display: flex;
    flex-direction: column;
    background-color: $bgColor;
    padding: 1.5rem 15px;
    border-radius: 3px;
    h1 {
      font-size: 2em;
      margin-bottom: 1rem;
      padding: 1rem;
      background-color: white;
      border: 1px solid gray;
      max-width: 500px;
      min-width: 120px;
    }
    p {
      font-size: 1.5em;
      background-color: white;
      border: 1px solid gray;
      margin-bottom: 1.5rem;
      padding: 1rem;
      color: black;
      min-width: 120px;
    }
    button {
      background-color: $bgColor;
      border: 1px solid black;
      padding: 5px 15px;
      font-size: 1rem;
      font-weight: bold;
      width: 6rem;
      align-self: center;
    }
    button:hover {
      background-color: $bgColorHover;
    }
  }
}

.main {
  #Project-Section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px; //for sticky nav bar
    padding-top: 70px;

    .Project-Section-Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .Projext-Section-Title {
        h1 {
          margin: 0;
          color: black;
          margin-bottom: 15px;
          align-self: flex-start;
        }
      }
    }
    .Project-Main-Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Project-Row {
        display: grid;
        .Project-Holder {
          border: 1px solid black;
          width: 300px;
          height: 200px;
          padding: 1rem 0.8rem;
          margin: 1rem 1rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  #About-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 40px;
    padding: 120px;

    .About-Section-Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Tools-Section {
        text-align: center;
        margin-bottom: 50px;
        .Tools-Section-Title {
          margin-bottom: 20px;
        }
      }
      .About-Me-Section {
        min-width: 300px;
        max-width: 800px;
        .About-Me-Section-Title {
          h2 {
            margin-bottom: 20px;
          }
        }
        .About-Me-Section-Content {
          p {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  #Contact-Section {
    background-color: black;
    padding-top: 85px;
    padding-bottom: 85px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 375px) {
      flex-direction: column;
      align-items: center;
    }
    .contact-left-Sec {
      max-width: 500px;
      min-width: 300px;
      align-self: flex-start;
      margin: 0px 20px;
      @media (max-width: 375px) {
        align-self: center;
        max-width: 300px;
        margin: 0rem 0.1rem;
      }
      h1,
      p {
        color: white;
        margin-bottom: 25px;
        width: 100%;
      }
    }
    .contact-right-Sec {
      min-width: 500px;
      margin: 0px 20px;
      @media (max-width: 375px) {
        min-width: 300px;
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        background-color: $bgColor;
        padding: 20px 15px;
        border-radius: 3px;
        width: 100%;
        @media (max-width: 375px) {
          padding: 0.8rem 0.8rem;
        }
        legend {
          font-weight: bold;
          margin-bottom: 1.2rem;
          @media (max-width: 375px) {
            margin-bottom: 0.5rem;
            align-self: center;
          }
        }
        input,
        textarea {
          border: 1px solid gray;
          margin: 0.8rem 0;
          padding: 15px;
          font-size: 0.9rem;
          background-color: white;
          @media (max-width: 375px) {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
        }
        input:focus,
        textarea:focus {
          outline: 1px solid blue;
        }
        button {
          margin-top: 20px;
          background-color: $bgColor;
          border: 1px solid black;
          padding: 5px 15px;
          font-size: 1rem;
          font-weight: bold;
          width: 100px;
          align-self: center;
          cursor: pointer;
        }
        button:hover {
          background-color: $bgColorHover;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-top: 1px solid white;
  padding: 15px;
  p {
    font-size: 12px;
    color: white;
    margin: 5px 0px;
  }
}
