* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif, monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 10;
  width: 100vw;
}
header .navDiv {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  height: 40px;
  width: 100%;
  padding: 8px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
header .navDiv .leftNav {
  display: flex;
  align-items: center;
}
header .navDiv .leftNav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0px 25px;
}
@media (max-width: 375px) {
  header .navDiv .leftNav a {
    font-size: 0.8rem;
  }
}
header .navDiv .leftNav a:hover {
  background-color: rgb(248, 248, 248);
}
header .navDiv .rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navDiv .rightNav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0px 25px;
}
@media (max-width: 375px) {
  header .navDiv .rightNav a {
    font-size: 0.8rem;
    margin: 0rem 0.6rem;
  }
}
header .navDiv .rightNav a:hover {
  background-color: rgb(248, 248, 248);
}

#Hero-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 190px;
  padding-bottom: 190px;
}
#Hero-Section .hero-Container {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 1.5rem 15px;
  border-radius: 3px;
}
#Hero-Section .hero-Container h1 {
  font-size: 2em;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid gray;
  max-width: 500px;
  min-width: 120px;
}
#Hero-Section .hero-Container p {
  font-size: 1.5em;
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: black;
  min-width: 120px;
}
#Hero-Section .hero-Container button {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 6rem;
  align-self: center;
}
#Hero-Section .hero-Container button:hover {
  background-color: rgb(248, 248, 248);
}

.main #Project-Section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-top: 70px;
}
.main #Project-Section .Project-Section-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main #Project-Section .Project-Section-Container .Projext-Section-Title h1 {
  margin: 0;
  color: black;
  margin-bottom: 15px;
  align-self: flex-start;
}
.main #Project-Section .Project-Main-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main #Project-Section .Project-Main-Container .Project-Row {
  display: grid;
}
.main #Project-Section .Project-Main-Container .Project-Row .Project-Holder {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  padding: 1rem 0.8rem;
  margin: 1rem 1rem;
}
.main #Project-Section .Project-Main-Container .Project-Row .Project-Holder img {
  width: 100%;
  height: 100%;
}
.main #About-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 40px;
  padding: 120px;
}
.main #About-Section .About-Section-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main #About-Section .About-Section-Container .Tools-Section {
  text-align: center;
  margin-bottom: 50px;
}
.main #About-Section .About-Section-Container .Tools-Section .Tools-Section-Title {
  margin-bottom: 20px;
}
.main #About-Section .About-Section-Container .About-Me-Section {
  min-width: 300px;
  max-width: 800px;
}
.main #About-Section .About-Section-Container .About-Me-Section .About-Me-Section-Title h2 {
  margin-bottom: 20px;
}
.main #About-Section .About-Section-Container .About-Me-Section .About-Me-Section-Content p {
  margin-bottom: 15px;
}
.main #Contact-Section {
  background-color: black;
  padding-top: 85px;
  padding-bottom: 85px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 375px) {
  .main #Contact-Section {
    flex-direction: column;
    align-items: center;
  }
}
.main #Contact-Section .contact-left-Sec {
  max-width: 500px;
  min-width: 300px;
  align-self: flex-start;
  margin: 0px 20px;
}
@media (max-width: 375px) {
  .main #Contact-Section .contact-left-Sec {
    align-self: center;
    max-width: 300px;
    margin: 0rem 0.1rem;
  }
}
.main #Contact-Section .contact-left-Sec h1,
.main #Contact-Section .contact-left-Sec p {
  color: white;
  margin-bottom: 25px;
  width: 100%;
}
.main #Contact-Section .contact-right-Sec {
  min-width: 500px;
  margin: 0px 20px;
}
@media (max-width: 375px) {
  .main #Contact-Section .contact-right-Sec {
    min-width: 300px;
    margin: 0;
  }
}
.main #Contact-Section .contact-right-Sec form {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 20px 15px;
  border-radius: 3px;
  width: 100%;
}
@media (max-width: 375px) {
  .main #Contact-Section .contact-right-Sec form {
    padding: 0.8rem 0.8rem;
  }
}
.main #Contact-Section .contact-right-Sec form legend {
  font-weight: bold;
  margin-bottom: 1.2rem;
}
@media (max-width: 375px) {
  .main #Contact-Section .contact-right-Sec form legend {
    margin-bottom: 0.5rem;
    align-self: center;
  }
}
.main #Contact-Section .contact-right-Sec form input,
.main #Contact-Section .contact-right-Sec form textarea {
  border: 1px solid gray;
  margin: 0.8rem 0;
  padding: 15px;
  font-size: 0.9rem;
  background-color: white;
}
@media (max-width: 375px) {
  .main #Contact-Section .contact-right-Sec form input,
  .main #Contact-Section .contact-right-Sec form textarea {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.main #Contact-Section .contact-right-Sec form input:focus,
.main #Contact-Section .contact-right-Sec form textarea:focus {
  outline: 1px solid blue;
}
.main #Contact-Section .contact-right-Sec form button {
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 100px;
  align-self: center;
  cursor: pointer;
}
.main #Contact-Section .contact-right-Sec form button:hover {
  background-color: rgb(248, 248, 248);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-top: 1px solid white;
  padding: 15px;
}
footer p {
  font-size: 12px;
  color: white;
  margin: 5px 0px;
}/*# sourceMappingURL=style.css.map */