@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif, monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 10;
  background-color: rgb(238, 238, 238);
}
header .navDiv {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 8px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
header .navDiv .leftNav {
  display: flex;
  align-items: center;
}
header .navDiv .leftNav a:hover {
  background-color: rgb(248, 248, 248);
}
header .navDiv .rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navDiv .rightNav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0px 25px;
}
header .navDiv .rightNav a:hover {
  background-color: rgb(248, 248, 248);
}

#Hero-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
#Hero-Section .hero-Container {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 1.5rem 15px;
  border-radius: 3px;
}
#Hero-Section .hero-Container h1 {
  font-size: 2em;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid gray;
}
#Hero-Section .hero-Container p {
  font-size: 1.5em;
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: black;
}
#Hero-Section .hero-Container button {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 6rem;
  align-self: center;
}
#Hero-Section .hero-Container button:hover {
  background-color: rgb(248, 248, 248);
}

.main #Project-Section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  height: 100vh;
}
.main #Project-Section .Project-Section-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main #Project-Section .Project-Section-Container .Projext-Section-Tile h1 {
  margin: 0;
  color: black;
  margin-bottom: 15px;
  align-self: flex-start;
}
.main #Project-Section .Project-Main-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main #Project-Section .Project-Main-Container .Project-Row {
  display: flex;
  flex-direction: row;
}
.main #Project-Section .Project-Main-Container .Project-Row .Project-Holder {
  /* background-color: $bgColor; */
  border: 1px solid black;
  width: 500px;
  height: 200px;
  padding: 1rem 0.8rem;
  margin: 1rem 1rem;
}
.main #Project-Section .Project-Main-Container .Project-Row .Project-Holder img {
  width: 100%;
  height: 100%;
}
.main #About-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.main #About-Section .About-Section-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main #About-Section .About-Section-Container .Tools-Section {
  text-align: center;
}
.main #Contact-Section {
  background-color: black;
  height: 60vh;
  padding: 85px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.main #Contact-Section .contact-left-Sec {
  width: 500px;
  align-self: flex-start;
  margin: 0px 20px;
}
.main #Contact-Section .contact-left-Sec h1,
.main #Contact-Section .contact-left-Sec p {
  color: white;
  margin-bottom: 25px;
  width: 100%;
}
.main #Contact-Section .contact-right-Sec {
  width: 500px;
  margin: 0px 20px;
}
.main #Contact-Section .contact-right-Sec form {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 20px 15px;
  border-radius: 3px;
  width: 100%;
}
.main #Contact-Section .contact-right-Sec form legend {
  font-weight: bold;
  margin-bottom: 20px;
}
.main #Contact-Section .contact-right-Sec form input,
.main #Contact-Section .contact-right-Sec form textarea {
  border: 1px solid gray;
  margin: 10px 0;
  padding: 15px;
  font-size: 0.9rem;
  background-color: white;
}
.main #Contact-Section .contact-right-Sec form input:focus,
.main #Contact-Section .contact-right-Sec form textarea:focus {
  outline: 1px solid blue;
}
.main #Contact-Section .contact-right-Sec form button {
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 100px;
  align-self: center;
  cursor: pointer;
}
.main #Contact-Section .contact-right-Sec form button:hover {
  background-color: rgb(248, 248, 248);
}

footer {
  text-align: center;
  background-color: black;
  /* border-top: 1px solid $bgColorBorder; */
  border-top: 1px solid white;
  padding: 15px;
}
footer p {
  font-size: 12px;
  color: white;
  margin: 0px 5px;
}

/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*//*# sourceMappingURL=style.css.map */