html {
  scroll-behavior: smooth;
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif, monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 10;
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(70, 130, 180);
}
header .navDiv {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 8px 30px;
}
header .navDiv .leftNav {
  display: flex;
  align-items: center;
}
header .navDiv .leftNav a:hover {
  background-color: rgb(248, 248, 248);
}
header .navDiv .rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navDiv .rightNav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 0px 25px;
}
header .navDiv .rightNav a:hover {
  background-color: rgb(248, 248, 248);
}

#Hero-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#Hero-Section h1 {
  font-weight: 400;
}

.main {
  margin-top: 65px;
}
.main #About-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px 50px;
}
.main #Project-Section {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main #Project-Section h1 {
  color: white;
  margin-bottom: 15px;
}
.main #About-Section {
  background-color: white;
  height: 100vh;
}
.main #Contact-Section {
  background-color: black;
  padding: 85px 0px;
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-content: center;
  justify-items: center;
  align-items: flex-start;
}
.main #Contact-Section .contact-left-Sec {
  width: 500px;
  align-self: flex-start;
}
.main #Contact-Section .contact-left-Sec h1,
.main #Contact-Section .contact-left-Sec p {
  color: white;
  margin-bottom: 25px;
}
.main #Contact-Section .contact-right-Sec {
  width: 500px;
}
.main #Contact-Section .contact-right-Sec form {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 20px 15px;
  border-radius: 3px;
  height: 100%;
}
.main #Contact-Section .contact-right-Sec form legend {
  font-weight: bold;
  margin-bottom: 20px;
}
.main #Contact-Section .contact-right-Sec form input,
.main #Contact-Section .contact-right-Sec form textarea {
  border: 1px solid gray;
  margin: 10px 0;
  padding: 15px;
  font-size: 14px;
  background-color: white;
}
.main #Contact-Section .contact-right-Sec form input:focus,
.main #Contact-Section .contact-right-Sec form textarea:focus {
  outline: 1px solid blue;
}
.main #Contact-Section .contact-right-Sec form button {
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  align-self: center;
}
.main #Contact-Section .contact-right-Sec form button:hover {
  background-color: rgb(248, 248, 248);
}

footer {
  text-align: center;
  background-color: rgb(238, 238, 238);
  border-top: 1px solid rgb(70, 130, 180);
  padding: 15px;
}
footer p {
  font-size: 12px;
  color: black;
  margin: 0px 5px;
}/*# sourceMappingURL=style.css.map */